


stage {
    color: $fg_color;
}


//
// Buttons
//
%button {
    min-height: 24px;
    min-width: 20px;
    transition-duration: 0;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 1px;
    separator {
        border: 1px solid $fg_color;
        margin: 1px 1px;
    }

    color: $fg_color;
    background-color: $bg_color;

    &:hover {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:hover label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:active, &:checked {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:active, &:checked label {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:disabled {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
        label {
            color: $insensitive_fg_color;
            background-color: $bg_color;
            margin: 0;
        }
    }
    &:disabled label {
        color: $insensitive_fg_color;
        background-color: $bg_color;
        margin: 0;
    }
}

%osd_button {
    min-height: 24px;
    min-width: 20px;
    transition-duration: 0;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 1px;
    separator {
        border: 1px solid $fg_color;
        margin: 1px 1px;
    }

    color: $fg_color;
    background-color: $bg_color;

    &:hover {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:hover label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:active, &:checked {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:active, &:checked label {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:disabled {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
        label {
            color: $insensitive_fg_color;
            background-color: $bg_color;
            margin: 0;
        }
    }
    &:disabled label {
        color: $insensitive_fg_color;
        background-color: $bg_color;
        margin: 0;
    }
}

//
// Entries
//
%entry {
    padding: 8px;
    caret-color: $fg_color;
    caret-size: 1px;
    selection-background-color: $selected_bg_color;
    selected-color: $selected_fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    
    @include entry(normal)

    &:focus, &:hover {
        @include entry(focus)
    }
    &:insensitive {
        @include entry(insensitive)
    }
}

%osd_entry {
    padding: 8px;
    caret-color: $fg_color;
    caret-size: 1px;
    selection-background-color: $selected_bg_color;
    selected-color: $selected_fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    
    @include entry(osd)
    &:focus, &:hover {
        @include entry(osd-focus)
    }
    &:insensitive {
        @include entry(osd-insensitive)
    }
}

//
// Scrollbars
//
StScrollView {

}

StScrollBar {
    padding: 1px;

    StScrollView & {
        min-width: 16px;
        min-height: 16px;
        background-color: $bg_color;
        color: $fg_color;
    }

    StBin#trough {
        background-color: $bg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
    }

    StButton#vhandle {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        color: transparent;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-image: url('assets/scalable/slider.svg');

        &:hover {
            background-image: url('assets/scalable/slider-hover.svg');
        }

        &:active {
            background-image: url('assets/scalable/slider.svg');
        }
    }
    StButton#hhandle {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        color: transparent;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-image: url('assets/scalable/slider.svg');
        &:hover {
            background-image: url('assets/scalable/slider-hover.svg');
        }
        &:active {
            background-image: url('assets/scalable/slider.svg');
        }
    }
}

//
// Slider
//
.popup-slider-menu-item,
.slider {
    padding: 1px;
    min-height: 16px;
    min-width: 16px;
    max-width: 16px;
    max-height: 16px;
    border-radius: 0px;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    color: transparent;
    background-color: transparent;
    background-image: url('assets/scalable/slider-insensitive.svg');
    &:hover {
        background-image: url('assets/scalable/slider-hover.svg');
    }
    &:active {
        background-image: url('assets/scalable/slider.svg');
    }
}

//
// Checkboxes
//
.check-box {

    StBin {
        width: 8px;
        height: 8px;
        background-image: url('assets/scalable/checkbox-unchecked.svg');
    }

    &:focus StBin {
        background-image: url('assets/scalable/checkbox-unchecked-selected.svg');
    }

    &:checked StBin {
        background-image: url('assets/scalable/checkbox-checked.svg');
    }
    
    &:focus:checked StBin {
        background-image: url('assets/scalable/checkbox-checked-selected.svg');
    }
}

//
// Radio buttons
//
.radio-button {
    StBin {
        width: 8px;
        height: 8px;
        background-image: url('assets/scalable/radio-unchecked.svg');
    }
    &:focus StBin {
        background-image: url('assets/scalable/radio-unchecked-selected.svg');
    }
    &:checked StBin {
        background-image: url('assets/scalable/radio-checked.svg');
    }
    
    &:focus:checked StBin {
        background-image: url('assets/scalable/radio-checked-selected.svg');
    }
}

//
// Switches
//
.toggle-switch {
    width: 32px;
    height: 16px;
    background-size: contain;

    &-us, &-intl {
        background-image: url('assets/scalable/switch.svg');

        &:checked {
            background-image: url('assets/scalable/switch-active.svg');
        }
    }
}

//
// Tooltips
//
#Tooltip {
    padding: 8px;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    background-color: $bg_color;
    color: $fg_color;
    font-size: 1em;
    text-align: center;
    margin: 4px;
}

//
// Looking Glass
//




//
// Popvers/Menus
//
.menu {
    padding: 0;
    background-color: $bg_color;
    color: $fg_color;
    border-color: $fg_color;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;


    .popup-sub-menu {
        background-color: $bg_color;
        color: $fg_color;
        box-shadow: none;
        
        StScrollBar {
            background-color: $bg_color;
            color: $fg_color;
        }
    }
}

.popup-menu-content {
    background-color: $bg_color;
    color: $fg_color;
}
.popup-menu-item {
    padding: 8px;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    color: $fg_color;
    background-color: $bg_color;
    &:hover {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:active {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:insentive {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
    }
}

.popup-inactive-menu-item {
    padding: 8px;
    color: $insensitive_fg_color;
    &:insensitive {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
    }
}

//
// Panel
//
#panel {
    font-weight: bold;
    // Thickness of horizontal pannels
    height: 40px;
    // Thickness of vertical pannels
    width: 40px;
    color: $fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;

    &:Left {
        spacing: 4px;

        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Right {
        spacing: 4px;
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Center {
        spacing: 4px;
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
    }

    &:highlight {
        background-color: $insensitive_bg_color;
        color: $fg_color;
    }
}

.panel {
    &:Left {
        spacing: 4px;

        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Right {
        spacing: 4px;
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Center {
        spacing: 4px;
        &.vertical {
            padding-left: 0px;
            padding-right: 0px;
        }
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
    }

    &-top, &-bottom, &-left, &-right {
        color: $fg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        background-color: $bg_color;
        font-size: 1em;
        padding: 1px;
        box-shadow: none;
    }

    &-dummy {
        background-color: $bg_color;
        &:entered {
            background-color: $hover_fg_color;
        }
    }

    &-status-button {
        border: none;
        font-weight: bold;
        color: $fg_color;
        
        &:hover {
            color: $hover_fg_color;
        }
    }

    &-button {
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        font-weight: bold;
        color: $fg_color;
        
        &:hover {
            color: $insentive_fg_color;
            background-color: $insensitive_bg_color;
            border: 1px solid;
            border-radius: 0px;
            border-color: $insensitive_fg_color;
        }

        label {
            color: $fg_color;
            background-color: $bg_color;
        }
    }

    .system-status-icon {
        icon-size: 16px;
        padding: 0 1px;
        color: $fg_color;

        &.warning {
            color: $warning_color;
        }
        &.error {
            color: $error_color;
        }
    }
}
