


stage {
    color: $fg_color;
}


//
// Buttons
//
%button {
    min-height: 24px;
    min-width: 20px;
    transition-duration: 0;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 1px;
    separator {
        border: 1px solid $fg_color;
        margin: 1px 1px;
    }

    color: $fg_color;
    background-color: $bg_color;

    &:hover {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:hover label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:active, &:checked {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:active, &:checked label {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:disabled {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
        label {
            color: $insensitive_fg_color;
            background-color: $bg_color;
            margin: 0;
        }
    }
    &:disabled label {
        color: $insensitive_fg_color;
        background-color: $bg_color;
        margin: 0;
    }
}

%osd_button {
    min-height: 24px;
    min-width: 20px;
    transition-duration: 0;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 1px;
    separator {
        border: 1px solid $fg_color;
        margin: 1px 1px;
    }

    color: $fg_color;
    background-color: $bg_color;

    &:hover {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:hover label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:active, &:checked {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:active, &:checked label {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:disabled {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
        label {
            color: $insensitive_fg_color;
            background-color: $bg_color;
            margin: 0;
        }
    }
    &:disabled label {
        color: $insensitive_fg_color;
        background-color: $bg_color;
        margin: 0;
    }
}

//
// Entries
//
%entry {
    padding: 8px;
    caret-color: $fg_color;
    caret-size: 1px;
    selection-background-color: $selected_bg_color;
    selected-color: $selected_fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    
    @include entry(normal)

    &:focus, &:hover {
        @include entry(focus)
    }
    &:insensitive {
        @include entry(insensitive)
    }
}

%osd_entry {
    padding: 8px;
    caret-color: $fg_color;
    caret-size: 1px;
    selection-background-color: $selected_bg_color;
    selected-color: $selected_fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    
    @include entry(osd)
    &:focus, &:hover {
        @include entry(osd-focus)
    }
    &:insensitive {
        @include entry(osd-insensitive)
    }
}

//
// Scrollbars
//
StScrollView {

}

StScrollBar {
    padding: 1px;

    StScrollView & {
        min-width: 16px;
        min-height: 16px;
        background-color: $bg_color;
        color: $fg_color;
    }

    StBin#trough {
        background-color: $bg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
    }

    StButton#vhandle {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        color: transparent;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-image: url('assets/scalable/slider.svg');

        &:hover {
            background-image: url('assets/scalable/slider-hover.svg');
        }

        &:active {
            background-image: url('assets/scalable/slider.svg');
        }
    }
    StButton#hhandle {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        color: transparent;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-image: url('assets/scalable/slider.svg');
        &:hover {
            background-image: url('assets/scalable/slider-hover.svg');
        }
        &:active {
            background-image: url('assets/scalable/slider.svg');
        }
    }
}

//
// Slider
//
.popup-slider-menu-item,
.slider {
    padding: 1px;
    min-height: 16px;
    min-width: 16px;
    max-width: 16px;
    max-height: 16px;
    border-radius: 0px;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    color: transparent;
    background-color: transparent;
    background-image: url('assets/scalable/slider-insensitive.svg');
    &:hover {
        background-image: url('assets/scalable/slider-hover.svg');
    }
    &:active {
        background-image: url('assets/scalable/slider.svg');
    }
}

//
// Checkboxes
//
.check-box {

    StBin {
        width: 8px;
        height: 8px;
        background-image: url('assets/scalable/checkbox-unchecked.svg');
    }

    &:focus StBin {
        background-image: url('assets/scalable/checkbox-unchecked-selected.svg');
    }

    &:checked StBin {
        background-image: url('assets/scalable/checkbox-checked.svg');
    }
    
    &:focus:checked StBin {
        background-image: url('assets/scalable/checkbox-checked-selected.svg');
    }
}

//
// Radio buttons
//
.radio-button {
    StBin {
        width: 8px;
        height: 8px;
        background-image: url('assets/scalable/radio-unchecked.svg');
    }
    &:focus StBin {
        background-image: url('assets/scalable/radio-unchecked-selected.svg');
    }
    &:checked StBin {
        background-image: url('assets/scalable/radio-checked.svg');
    }
    
    &:focus:checked StBin {
        background-image: url('assets/scalable/radio-checked-selected.svg');
    }
}

//
// Switches
//
.toggle-switch {
    width: 32px;
    height: 16px;
    background-size: contain;

    &-us, &-intl {
        background-image: url('assets/scalable/switch.svg');

        &:checked {
            background-image: url('assets/scalable/switch-active.svg');
        }
    }
}

//
// Tooltips
//
#Tooltip {
    padding: 8px;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    background-color: $bg_color;
    color: $fg_color;
    font-size: 1em;
    text-align: center;
    margin: 4px;
}

//
// Looking Glass
//


//
// Notifications
//
#notification {
    box-shadow: none;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    background-color: $bg_color;
    color: $fg_color;
    padding: 16px;
    spacing-rows: 8px;
    spacing-columns: 8px;
    width: 34em;

    .popup-menu & {
        color: $fg_color;
        border-color: $fg_color;

        .notifcation-button, .notification-icon-button {
            @extend %button;
            padding: 8px;
        }

        StEntry {
            @extend %entry;
        }
    }

    &.multi-line-notification {
        padding-bottom: 16px;
        color: $fg_color;
    }

    &-scrollview {
        max-height: 10em;

        > .top-shadow, > .bottom-shadow {
            height: 0;
        }

        &:ltr > StScrollBar {
            padding-left: 8px;
        }
        &:rtl > StScrollBar {
            padding-right: 8px;
        }
    }

    &-body {
        spacing: 4px;
    }
    &-actions {
        spacing: 8px;
    }
}

.notification { 

    &-with-image {
        min-height: 164px;
        color: $fg_color;
    }

    &-button, &-icon-button {
        @extend %button;
        padding: 4px;
    }

    &-icon-button > StIcon {
        icon-size: 32px;
    }

    StEntry {
        @extend %osd_entry;
    }
}


//
// Modal dialogs
//
.lightbox {
    background-color: $bg_color;
}
.flashspot {
    background-color: white;
}

.modal-dialog {
    background-color: $bg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    padding: 4px 8px;

    > StBoxLayout:first-child {
        padding: 8px;
    }
    
    &-button-box {
        spacing: 0;
        margin: 0;
        padding: 8px;
        border: none;
        background-color: $bg_color;

        .modal-dialog-button {
            padding-top: 0;
            padding-bottom: 0;
            height: 32px;

            @extend %button;
        }
    }

    .confirm-dialo-title {
        text-align: center;
        font-weight: bold;
        font-size: 1.3em;
        padding-bottom: 12px;
    }
}


//
// Popvers/Menus
//
.menu {
    padding: 0;
    background-color: $bg_color;
    color: $fg_color;
    border-color: $fg_color;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;


    .popup-sub-menu {
        background-color: $bg_color;
        color: $fg_color;
        box-shadow: none;
        
        StScrollBar {
            background-color: $bg_color;
            color: $fg_color;
        }
    }
}

.popup-menu-content {
    background-color: $bg_color;
    color: $fg_color;
}
.popup-menu-item {
    padding: 8px;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    color: $fg_color;
    background-color: $bg_color;
    &:hover {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:active {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:insentive {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
    }
}

.popup-inactive-menu-item {
    padding: 8px;
    color: $insensitive_fg_color;
    &:insensitive {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
    }
}

//
// Panel
//
#panel {
    font-weight: bold;
    // Thickness of horizontal pannels
    height: 40px;
    // Thickness of vertical pannels
    width: 40px;
    color: $fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;

    &:Left {
        spacing: 4px;

        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Right {
        spacing: 4px;
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Center {
        spacing: 4px;
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
    }

    &:highlight {
        background-color: $insensitive_bg_color;
        color: $fg_color;
    }
}

.panel {
    &:Left {
        spacing: 4px;

        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Right {
        spacing: 4px;
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:ltr {
            padding-right: 4px;
        }
        &:rtl {
            padding-left: 4px;
        }
        &.vertical {
            padding: 0;
            &:ltr {
                padding-right: 4px;
            }
            &:rtl {
                padding-left: 4px;
            }
        }
    }

    &Center {
        spacing: 4px;
        &.vertical {
            padding-left: 0px;
            padding-right: 0px;
        }
        &:dnd {
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
    }

    &-top, &-bottom, &-left, &-right {
        color: $fg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        background-color: $bg_color;
        font-size: 1em;
        padding: 1px;
        box-shadow: none;
    }

    &-dummy {
        background-color: $bg_color;
        &:entered {
            background-color: $hover_fg_color;
        }
    }

    &-status-button {
        border: none;
        font-weight: bold;
        color: $fg_color;
        
        &:hover {
            color: $hover_fg_color;
        }
    }

    &-button {
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        font-weight: bold;
        color: $fg_color;
        
        &:hover {
            background-gradient-direction: vertical;
            background-gradient-start: $insensitive_bg_color;
            background-gradient-end: $insensitive_bg_color;
            color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
            border: 1px solid;
            border-radius: 0px;
            border-color: $insensitive_fg_color;
        }

        label {
            color: $fg_color;
            background-color: $bg_color;
        }
    }

    .system-status-icon {
        icon-size: 16px;
        padding: 0 1px;
        color: $fg_color;

        &.warning {
            color: $warning_color;
        }
        &.error {
            color: $error_color;
        }
    }
}

//
// OSD
//
.info-osd {
    text-align: center;
    font-weight: bold;
    spacing: 1em;
    padding: 16px;
    color: $fg_color;
    background-color: $bg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    background-color: $bg_color;
}

.restart-osd {
    font-size: 1.6em;
}

.workspace-osd {
    font-size: 4em;
}

.osd-window {
    text-align: center;
    font-weight: bold;
    spacing: 1em;
    padding: 16px;

    color: $fg_color;
    background-color: $bg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;

    .osd-monitor-label {
        font-size: 3em;
    }

    .level {
        padding: 0;
        height: 0.7em;
        background-color: $selected_bg_color;
        border-radius: 0px;
    }

    .level-bar {
        border-radius: 0px;
        background-color: $selected_fg_color;
    }
}

//
// Applets (applet.js)
//
.applet {
    &-separator {
        padding: 1px 4px;

        &.vertical {
          padding: 4px 1px;
        }
    }

    &-separator-line {
      width: 1px;
      background: $fg_color;
      
      &.vertical {
        height: 1px;
        background: $fg_color;
      }
    }

    &-box {
      padding-left: 4px;
      padding-right: 4px;
      spacing: 4px;
      color: $fg_color;
      text-shadow: none;
      transition-duration: 0;
      text-align: left;
      
      &.vertical {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
      
      &:hover {
        color: $hover_fg_color;
        background-color: $bg_color;
      }
      &:checked {
        color: $bg_color;
        background-color: $fg_color;
      }

      &:highlight {
        color: $bg_color;
        background-color: $fg_color;
      }
    }

    &-label {
      font-weight: bold;
      color: $fg_color;

      &:hover,
      .applet-box:hover & {
        color: $hover_fg_color;
        background-color: $bg_color;
      }
      &:checked,
      .applet-box:checked & {
        color: $bg_color;
        background-color: $fg_color;
      }
    }

    &-icon {
      color: $fg_color;
      icon-size: 22px;

      &:hover,
      .applet-box:hover & {
        color: $hover_fg_color;
        background-color: $bg_color;
        text-shadow: none;
      }

      &:checked,
      .applet-box:checked & {
        color: $bg_color;
        background-color: $fg_color;
        text-shadow: none;
      }
    }
}

//
// Desklets (desklet.js)
//
.desklet {
    color: $fg_color;

    &:highlight {
        color: $bg_color;
        background-color: $insensitive_bg_color;
    }

    &-with-borders {
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        background-color: $bg_color;
        color: $fg_color;
        padding: 8px;

        &:highlight {
            color: $bg_color;
            background-color: $insensitive_bg_color;
        }
    }
    
    &-with-borders-and-header {
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        background-color: $bg_color;
        color: $fg_color;
        padding: 8px;

        &:highlight {
            color: $bg_color;
            background-color: $insensitive_bg_color;
        }
    }

    &-header {
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        background-color: $bg_color;
        color: $fg_color;
        font-size: 1em;
        padding: 12px;
    }

    &-drag-placeholder {
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        background-color: $insensitive_bg_color;
    }
}

.photoframe-box {
    border: 1px solid;
    border-radius: 0px;
    border-color: $fg_color;
    background-color: $bg_color;
    color: $fg_color;
    padding: 12px;
}


//
// Sound Applet (status/volume.js)
//
.sound-button {
    width: 24px;
    height: 12px;
    padding: 8px;

    @extend %button;
    border: none

    &-container {
      padding-right: 4px;
      padding-left: 4px;
    }

    StIcon {
      icon-size: 1.4em;
    }
}

.sound-track {
  &-infos {
    padding: 4px;
  }
  &-info {
    padding-top: 2px;
    padding-bottom: 2px;

    StIcon {
      icon-size: 16px;
    }
  }
  &-box {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 200px;
  }
}

.sound-seek-box {
  padding-left: 16px;

  StLabel {
    padding-top: 2px;
  }
  StIcon {
    icon-size: 16px;
  }
}

.sound-seek-slider {
  width: 140px;
}

.sound-volume-menu-item {
  padding: .4em 1.75em;

  StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.sound-playback-control {
  padding: 4px 8px 8px 8px;
}

.sound-player {
  //TODO
}

//
// Window List (windowList.js)
//
.window-list {

}

//
// Grouped Window List
//
.grouped-window-list {
    &-item-label {
        color: $fg_color;
        background-color: $bg_color;
        min-width: 5px;
        width: 15em;
    }

    &-item-box {
        text-align: left;
        font-weight: bold;
        background-image: none;
        padding: 1px;
        padding-left: 4px;
        padding-right: 4px;
        transition-duration: 100;
        color: $fg_color;
        background-color: $bg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;

        &:hover {
            color: $bg_color;
            background-color: $hover_fg_color;
            background-gradient-direction: vertical;
            background-gradient-start: $hover_fg_color;
            background-gradient-end: $hover_fg_color;
        }
        &:focus {
            color: $bg_color;
            background-color: $selected_bg_color;
            background-gradient-direction: vertical;
            background-gradient-start: $selected_fg_color;
            background-gradient-end: $selected_fg_color;
        }

        &:active {
        }
        &:checked {
            color: $bg_color;
            background-color: $fg_color;
            background-gradient-direction: vertical;
            background-gradient-start: $fg_color;
            background-gradient-end: $fg_color;
        }

        & .progress-bar {
            background-color: $selected_bg_color;
        }

    }

    &-item-demands-attention {
        background-color: $warning_color;
        background-gradient-direction: vertical;
        background-gradient-start: $warning_color;
        background-gradient-end: $warning_color;
    }

    &-number-label {
        font-size: 0.8em;
        color: $fg_color;
        background-color: $bg_color;
    }

    &-thumbnail-menu {
        padding: 0;
        background-color: $bg_color;
        color: $fg_color;
        border-color: $fg_color;
        border-width: 1px;
        border-style: solid;
        border-radius: 0px;

        > StBoxLayout {
            padding: 4px;
        }

        .item-box {
            padding: 8px;
            border: 1px solid;
            border-radius: 0px;
            spacing: 4px;

            &:outlined {
                background-color: $insensitive_bg_color;
            }

            &:selected {
                background-color: $selected_bg_color;
            }
        }

        .thumbnail {
            width: 256px;
        }

        .separator {
            width: 1px;
            background: $fg_color;
        }
    }
}

//
// Menu (menu.js)
//
.menu {
    &-favorites-box {
        padding: 8px;
        background-color: $bg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;

    }

    &-favorites-button {
        padding: .9em 1em;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;

        &:hover {
            background-color: $hover_fg_color;
            color: $fg_color;
        }
    }

    &-places {
        &-box {
            padding: 8px;
            background-color: $bg_color;
            border: 1px solid;
            border-radius: 0px;
            border-color: $fg_color;
        }

        &-button {
            padding: .9em 1em;
            border: 1px solid;
            border-radius: 0px;
            border-color: $fg_color;
            &:hover {
                background-color: $hover_fg_color;
                color: $fg_color;
            }
        }
    }

    &-categories-box {
        padding: 8px;
        background-color: $bg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
    }

    &-applications-inner-box,
    &-applications-outer-box {
        margin: 8px 8px 0 8px;
    }

    &-application-button {
        padding: 8px;
        color: $fg_color;
        background-color: $bg_color;

        // Used for newly installed applications
        &:highlighted {
            padding: 8px;
            font-weight: bold;
            color: $fg_color;
            background-color: $selected_bg_color;
        }

        &-selected {
            padding: 8px;
            color: $fg_color;
            background-color: $selected_bg_color;

            &:highlighted {
                font-weight: bold;
            }
        }

        &-label:ltr {
            padding-left: 8px;
        }
        &-label:rtl {
            padding-right: 8px;
        }
    }

    &-category-button {
        padding: 8px;
        color: $fg_color;
        background-color: $bg_color;
        
        &-selected {
            padding: 8px;
            color: $bg_color;
            background-color: $selected_bg_color;
        }

        &:hover {
            padding: 8px;
            background-color: $insensitive_bg_color;
            color: $fg_color;
        }

        &-greyed {
            padding: 8px;
            color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
        }

        &-label:ltr {
            padding-left: 8px;
        }
        &-label:rtl {
            padding-right: 8px;
        }
    }

    &-selected-app-box {
        padding-right: 32px;
        padding-left: 24px;
        text-align: right;
        height: 2.2em;
        background-color: $bg_color;

        &:rtl {
            padding-top: 8px;
            height: 2.2em;
        }
    }

    &-selected-app-title {
        font-weight: bold;
    }

    &-selected-app-description {
        max-width: 150px;
    }
    
    &-search-box {
        padding: 8px;
        background-color: $bg_color;
        border: 1px solid;
        border-radius: 0px;
        border-color: $fg_color;
        color: $fg_color;
    }

    &-search-box:ltr {
        padding-left: 32px;
    }
    &-search-box:rtl {
        padding-right: 32px;
    }
}

#menu-search-entry {
    @extend %entry;
    width: 250px;
    min-height: 16px;
    font-weight: normal;
    caret-color: $bg_color;
    background-color: $bg_color;
    color: $bg_color;

}

.menu-search-entry-icon {
    icon-size: 1em;
    color: $fg_color;
}

//
// Tile Preview Applet
//
.tile-preview {
    background-color: transparentize($selected_bg_color, 0.7);
    color: $selected_fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $selected_fg_color;

    &.snap {
        background-color: transparentize($selected_bg_color, 0.4);
    }
}

.tile-hud {
    background-color: transparentize($selected_bg_color, 0.7);
    color: $selected_fg_color;
    border: 1px solid;
    border-radius: 0px;
    border-color: $selected_fg_color;

    &.snap {
        background-color: transparentize($selected_bg_color, 0.4);
    }
}

.xkcd-box {
    padding: 8px;
    border: 0px;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
}
