



//
// Tab Overrides
//
GeditNotebook.notebook,
ScratchMainWindow .notebook,
EphyNotebook.notebook,
MidoriNotebook .notebook,
TerminalWindow .notebook,
PantheonTerminalPantheonTerminalWindow .notebook {
    border-color: $fg_color;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    tab.reorderable-page.top, tab.top {
        &:active, &.active-page {
            background-color: $bg_color;
            color: $fg_color;
            box-shadow: none;
        }
        &.active-page:hover {
            border-color: $insensitive_fg_color;
            border-width: 1px;
            border-style: solid;
            border-radius: 0px;
            background-color: $insensitive_bg_color;
            color: $insensitive_fg_color;
            box-shadow: none;
        }

        &:hover {
            border-color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
            color: $insensitive_fg_color;
            box-shadow: none;
        }

    }
}

TerminalWindow .notebook,
PantheonTerminalPantheonTerminalWindow .notebook {
    tab.reorderable-page.top, tab.top {
        padding-top: 8px;
        border-top-width: 4px;
    }

    &.header.top {
        box-shadow: none;
    }
}


//
// GNOME Terminal
//
vte-terminal.terminal-screen {
    -TerminalScreen-background-darkness: 1.0;
    background-color: $bg_color;
    color: $fg_color;
}

terminal-screen-container,
terminal-screen-container scollbar:not(slider) {
    border-color: $fg_color;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    background-color: $bg_color;
}

TerminalWindow {
    .notebook {
        tab .button {
            color: $fg_color;

            &:hover {
                border-color: $insensitive_fg_color;
                background-color: $insensitive_bg_color;
                color: $fg_color;
            }
        }

        .active-page, .prelight-page {
            .button {
                &:hover {
                    border-color: $insensitive_fg_color;
                    background-color: $insensitive_bg_color;
                    color: $fg_color;
                }
                &:active {
                    border-color: $selected_fg_color;
                    background-color: $selected_bg_color;
                    color: $fg_color;
                }
            }
        }
    }
}





//
// Nemo
//
.nemo-window {


    .nemo-desktop.nemo-canvas-item {
        &:hover {
            border-color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
            border-width: 1px;
            border-style: solid;
            border-radius: 0px;
            color: $fg_color;
        }
        &:selected {
            border-color: $selected_fg_color;
            background-color: $selected_bg_color;
            border-width: 1px;
            border-style: solid;
            border-radius: 0px;
            color: $fg_color;
        }
    }

    statusbar, .toolbar {
        border-color: $fg_color;
        border-width: 1px;
        border-style: solid;
        border-radius: 0px;
        padding: 1px;

    }

    .places-treeview {
        -NemoPlacesTreeView-disk-full-bg-color: $selected_bg_color;
        -NemoPlacesTreeView-disk-full-fg-color: $fg_color;

        .view.cell:hover {
            border-color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
            color: $fg_color;
        }
        .view.cell:selected {
            border-color: $selected_fg_color;
            background-color: $selected_bg_color;
            color: $fg_color;
        }
    }

    .nemo-icon-view {
        -NemoIconView-disk-full-bg-color: $selected_bg_color;
        -NemoIconView-disk-full-fg-color: $fg_color;
        .view.cell:hover {
            border-color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
            color: $fg_color;
        }
        .view.cell:selected {
            border-color: $selected_fg_color;
            background-color: $selected_bg_color;
            color: $fg_color;
        }
    }

    .sidebar {
        color: $fg_color;
        background-color: $bg_color;
        
        .view, row {
            color: $fg_color;
            background-color: $bg_color;

            &.cell:selected {
                //color: $selected_fg_color;
                background-color: $selected_bg_color;
                color: $fg_color;
            }

            &.expander {
                color: $fg_color;
                background-color: $bg_color;

                &:hover {
                    color: $hover_fg_color;
                    background-color: $bg_color;
                }
            }
        }
    }
}

//
// Thunar
//

.thunar {
    &.toolbar, toolbar {

        border-color: $fg_color;
        border-width: 1px;
        border-style: solid;
        border-radius: 0px;
        padding: 1px;
    }
    
    statusbar {
        border-color: $fg_color;
        border-width: 1px;
        border-style: solid;
        border-radius: 0px;
        padding: 1px;
    }

    widget {
        .view:hover {
            background-color: $insensitive_bg_color;
            color: $bg_color;
        }
        .view:selected {
            background-color: $selected_bg_color;
            color: $bg_color;
        }
    }
}

//
// Cinnamon Settings
//
.cs-header {
    padding: 8px;
    background-color: $bg_color;
    border-color: $fg_color;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
}
