


//
// Nemo
//

.nemo-window {
    .nemo-desktop.nemo-canvas-item {
        &:hover {
            border-color: alpha($insensitive_fg_color, 1.0);
            background-color: alpha($insensitive_bg_color, 1.0);
            border-width: 1px;
            border-style: solid;
            border-radius: 0px;
            label {
                color: $fg_color;
                background-color: $bg_color;
            }
        }
        &:selected {
            border-color: alpha($selected_fg_color, 1.0);
            background-color: alpha($selected_bg_color, 1.0);
            border-width: 1px;
            border-style: solid;
            border-radius: 0px;
            label {
                color: $fg_color;
                background-color: $bg_color;
            }
        }
    }

    .nemo-toolbar {
        border-color: $fg_color;
        border-width: 1px;
        border-style: solid;
        border-radius: 0px;
        padding: 1px;

    }

    .places-treeview {
        -NemoPlacesTreeView-disk-full-bg-color: $selected_bg_color;
        -NemoPlacesTreeView-disk-full-fg-color: $fg_color;

        .view.cell:hover {
            border-color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
            label {
                color: $fg_color;
                background-color: $bg_color;
            }
        }
        .view.cell:selected {
            border-color: $selected_fg_color;
            background-color: $selected_bg_color;
            label {
                color: $fg_color;
                background-color: $bg_color;
            }
        }
    }

    .nemo-icon-view {
        -NemoIconView-disk-full-bg-color: $selected_bg_color;
        -NemoIconView-disk-full-fg-color: $fg_color;
        .view.cell:hover {
            border-color: $insensitive_fg_color;
            background-color: $insensitive_bg_color;
            label {
            color: $fg_color;
            background-color: $bg_color;
            }
        }
        .view.cell:selected {
            border-color: $selected_fg_color;
            background-color: $selected_bg_color;
            label {
                color: $fg_color;
                background-color: $bg_color;
            }
        }
    }

    .sidebar {
        color: $fg_color;
        background-color: $bg_color;
        
        .view, row {
            color: $fg_color;
            background-color: $bg_color;

            &.cell:selected {
                color: $selected_fg_color;
                background-color: $selected_bg_color;
                label {
                    color: $fg_color;
                    background-color: $bg_color;
                }
            }

            &.expander {
                color: $fg_color;
                background-color: $bg_color;

                &:hover {
                    color: $hover_fg_color;
                    background-color: $bg_color;
                }
            }
        }
    }
}

//
// Thunar
//

.thunar {
    & .toolbar, & toolbar {

        border-color: $fg_color;
        border-width: 1px;
        border-style: solid;
        border-radius: 0px;
        padding: 1px;
    }
    
    & statusbar {
        border-color: $fg_color;
        border-width: 1px;
        border-style: solid;
        border-radius: 0px;
        padding: 1px;
    }

    & widget {
        & .view:hover {
            border-color: $insensitive_fg_color;
            border-style: solid;
            border-radius: 0px;
            border-width: 1px;
            background-color: $insensitive_bg_color;
            label {
                color: $fg_color;
                background-color: $bg_color;
            }
        }
        & .view:selected {
            border-color: $selected_fg_color;
            border-style: solid;
            border-radius: 0px;
            border-width: 1px;
            background-color: $selected_bg_color;
            label {
                color: $fg_color;
                background-color: $bg_color;
            }
        }
    }
}
