//apps rely on some named colors to be exported

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using "" + $var
@define-color theme_fg_color #{"" + $fg_color};
@define-color theme_text_color #{"" + $fg_color};
@define-color theme_bg_color #{"" + $bg_color};
@define-color theme_base_color #{"" + $fg_color};
@define-color theme_selected_bg_color #{"" + $selected_bg_color};
@define-color theme_selected_fg_color #{"" + $selected_fg_color};
@define-color fg_color #{"" + $fg_color};
@define-color text_color #{"" + $fg_color};
@define-color bg_color #{"" + $bg_color};
@define-color base_color #{"" + $fg_color};
@define-color selected_bg_color #{"" + $selected_bg_color};
@define-color selected_fg_color #{"" + $selected_fg_color};
@define-color insensitive_bg_color #{"" + $insensitive_bg_color};
@define-color insensitive_fg_color #{"" + $insensitive_fg_color};
@define-color insensitive_base_color #{"" + $insensitive_fg_color};
@define-color theme_unfocused_fg_color #{"" + $fg_color};
@define-color theme_unfocused_text_color #{"" + $fg_color};
@define-color theme_unfocused_bg_color #{"" + $bg_color};
@define-color theme_unfocused_base_color #{"" + $fg_color};
@define-color borders #{"" + $fg_color};
@define-color unfocused_borders #{"" + $fg_color};

@define-color warning_color #{"" + $fg_color};
@define-color error_color #{"" + $fg_color};
@define-color success_color #{"" + $fg_color};
@define-color placeholder_text_color #{"" + $fg_color};

@define-color content_view_bg #{"" + $bg_color};

//WM
$wm_bg_unfocused: $bg_color;

@define-color wm_title #{"" + $fg_color};
@define-color wm_title_unfocused #{"" + $fg_color};

@define-color wm_bg #{"" + $bg_color};
@define-color wm_bg_unfocused #{"" + $bg_color};

@define-color wm_highlight #{"" + $fg_color};
@define-color wm_border #{"" + $fg_color};
@define-color wm_border_unfocused #{"" + $fg_color};
@define-color wm_shadow alpha(#{"" + black}, 0.0);

//WM Buttons

// Close
@define-color wm_button_close_bg #{"" + $fg_color};
@define-color wm_button_close_hover_bg #{"" + $hover_fg_color};
@define-color wm_button_close_active_bg #{"" + $hover_fg_color};

@define-color wm_icon_close_bg #{"" + $hover_fg_color};

// Minimize, Maximize
@define-color wm_button_hover_bg #{"" + $hover_fg_color};
@define-color wm_button_active_bg #{"" + $hover_fg_color};

@define-color wm_icon_bg #{"" + $bg_color};
@define-color wm_icon_unfocused_bg #{"" + $bg_color};
@define-color wm_icon_hover_bg #{"" + $bg_color};
@define-color wm_icon_active_bg #{"" + $bg_color};

$header_fg: $fg_color;
$header_bg: $bg_color;

@define-color header_fg #{"" + $header_fg};
@define-color header_bg #{"" + $header_bg};
