

* {
    background-clip: padding-box;
    -GtkToolButton-icon-spacing: 4;
    -GtkScrolledWindow-scrollbar-spacing: 0;

    -GtkToolItemGroup-expander-size: 11;

    -GtkWidget-text-handle-width: 20;
    -GtkWidget-text-handle-height: 20;

    -GtkDialog-button-spacing: 4;
    -GtkDialog-action-area-border: 6;

    // We use the outline properties to signal the focus properties
    outline-color: $fg_color;
    outline-style: dashed;
    outline-offset: -3px;
    outline-width: 1px;
    -gtk-outline-radius: 0px;
}


.background {
    color: $fg_color;
    background: $bg_color;
}

menu,
.menu {
    color: $fg_color;
    background-color: $bg_color;
    border-color: $fg_color;
    border-width: 1px;
    border-style: solid;
    margin: 1px;
    padding: 0;
    border-radius: 0px;
    
    .csd & {
        padding: 4px 0px;
        background-color: $bg_color;
    }

    separator {
        .csd & separator {
            background-color: $fg_color;
        }
    }

    menuitem {
        min-height: 16px;
        min-width: 32px;
        padding: 4px;

        &:hover {
            label {
                background-color: $bg_color;
                color: $hover_fg_color;
            }
            background-color: $hover_fg_color;
        }
        &:disabled {
            color: $insensitive_fg_color;
            background-color: $bg_color;
        }
        &:backdrop {
            color: $fg_color;
            background-color: $bg_color;
        }
        &:disabled:hover {
            color: $insensitive_fg_color;
            background-color: $bg_color;
        }
        
        arrow {
            color: $fg_color;
            background-color: $bg_color;
        }
    }
}



//
// Buttons
//
button {
    min-height: 24px;
    min-width: 20px;
    transition: all 200ms;
    border: 1px solid;
    border-radius: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 1px;
    
    separator {
        border: 1px solid $fg_color;
        margin: 1px 1px;
    }

    color: $fg_color;
    background-color: $bg_color;

    &:hover {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:hover label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:active, &:checked {
        background-color: $hover_fg_color;
        color: $fg_color;
    }
    &:active, &:checked label {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop {
        background-color: $bg_color;
        color: $fg_color;
    }
    &:backdrop label {
        background-color: $bg_color;
        color: $fg_color;
        margin: 0;
    }
    &:insensitive, &:disabled {
        color: $insensitive_fg_color;
        background-color: $insensitive_bg_color;
        label {
            color: $insensitive_fg_color;
            background-color: $bg_color;
            margin: 0;
        }
    }
    &:insensitive, &:disabled label {
        color: $insensitive_fg_color;
        background-color: $bg_color;
        margin: 0;
    }
}

@each $w,$a in ('check', 'checkbox'), ('radio', 'radio') {
    @each $s,$as in ('', '-unchecked'),
                (':disabled', '-unchecked-insensitive'),
                ('indeterminate', '-mixed'),
                ('indeterminate:disabled', '-mixed-insensitive'),
                (':checked', '-checked'),
                (':checked:disabled', '-checked-insensitive') {
        .#{$w}#{$s},
        #{$w}#{$s},
        treeview.#{$w}#{$s} {
            -gtk-icon-source: -gtk-scaled(url("assets/#{$a}#{$as}.png"));
        }
        
        .view.#{$w}#{$s}:selected,
        treeview.#{$w}#{$s}:selected,
        row:selected #{$w}#{$s}, 
        infobar #{$w}#{$s} {
            -gtk-icon-source: -gtk-scaled(url("assets/#{$a}#{$as}-selected.png"));
        }
    }
}

// Selectionmode
@each $s,$as in ('', '-selectionmode'),
                (':checked', '-checked-selectionmode') {
    .view.content-view.check#{$s}:not(.list) {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox#{$as}.png"));
        background-color: transparent;
    }
}

checkbutton, radiobutton {
    &.text-button {
        padding: 2px;
        outline-offset: 0;
    }

    label:not(:only-child) {
        &:first-child {
            margin-left: 2px;
        }
        &:last-child {
            margin-right: 2px;
        }
    }
}

check, radio {
    min-width: 8px;
    min-height: 8px;
    margin: 0 2px;

    &:only-child {
        menu menuitem & {
            margin: 0;
        }
    }
}

//
// Switches
//
switch {
    min-height: 16px;
    min-width: 32px;
    background-size: 32px 16px;
    background-position: center;
    background-repeat: no-repeat;

    slider {
        min-width: 1px;
        min-height: 1px;
    }

    &, slider {
        outline-color: transparent;
        color: transparent;
        border: none;
        box-shadow: none;
    }
}

@each $k,$l in ('',''), (':checked', '-active'), (':disabled', '-insensitive'), ('checked:disabled', '-active-insensitive') {

    switch#{$k} {
        background-image: -gtk-scaled(url("assets/switch#{$l}.png"));
    }

    menuitem:hover switch#{$k},
    row:selected switch#{$k},
    infobar switch#{$k} {
        background-image: -gtk-scaled(url("assets/switch#{$l}-selected.png"));
    }
}

//
// Scrollbar
//

scrollbar {
    @at-root * {
        -GtkScrollbar-has-backward-stepper: true;
        -GtkScrollbar-has-forward-stepper: true;
    }

    background-color: $bg_color;
    border: 1px solid $fg_color;

    &.vertical button {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        color: transparent;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        
        &.up {
            background-image: -gtk-scaled(url('assets/pan-up.png'));
        }
        &.down {
            background-image: -gtk-scaled(url('assets/pan-down.png'));
        }

        &.up:hover {
            background-image: -gtk-scaled(url('assets/pan-up-hover.png'));
        }
        &.down:hover {
            background-image: -gtk-scaled(url('assets/pan-down-hover.png'));
        }

        &.up:disabled {
            background-image: -gtk-scaled(url('assets/pan-up-insensitive.png'));
        }
           
        &.down:disabled {
            background-image: -gtk-scaled(url('assets/pan-down-insensitive.png'));
        }
           
    }

    &.horizontal button {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        color: transparent;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;

        &.up {
            background-image: -gtk-scaled(url('assets/pan-left.png'));
        }
        &.down {
            background-image: -gtk-scaled(url('assets/pan-right.png'));
        }

        &.up:hover {
            background-image: -gtk-scaled(url('assets/pan-left-hover.png'));
        }
        &.down:hover {
            background-image: -gtk-scaled(url('assets/pan-right-hover.png'));
        }

        &.up:disabled {
            background-image: -gtk-scaled(url('assets/pan-left-insensitive.png'));
        }
        &.down:disabled {
            background-image: -gtk-scaled(url('assets/pan-right-insensitive.png'));
        }
            
    }
    scale {
        margin: -5px;
    }
    slider {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        max-width: 16px;
        max-height: 16px;
        border-radius: 0px;
        box-shadow: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        color: transparent;
        background-color: transparent;
        background-image: -gtk-scaled(url('assets/slider.png'));
        &:hover {
            background-image: -gtk-scaled(url('assets/slider-hover.png'));
        }
        &:disabled {
            background-image: -gtk-scaled(url('assets/slider-insensitive.png'));
        }
    }
    slider button {
        max-width: 16px;
        max-height: 16px;
    }
}

//
// GtkScale
//
scale {
    min-height: 16px;
    min-width: 16px;

    &.horizontal {
        trough {
            min-height: 2px;
            min-width: 2px;
            background-color: $bg_color;
            border: 1px solid $fg_color;
            border-radius: 0px;
        }
        highlight, fill {
            background-color: $fg_color;
            border-radius: 0px;
            margin: 2px -4px;
        }
    }

    &.vertical {
        trough {
            min-height: 2px;
            min-width: 2px;
            background-color: $bg_color;
        }
        highlight, fill {
            background-color: $fg_color;
            border-radius: 0px;
            margin: -4px 2px;
        }
    }

    slider {
        padding: 1px;
        min-height: 16px;
        min-width: 16px;
        max-width: 16px;
        max-height: 16px;
        border-radius: 0px;
        box-shadow: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        color: transparent;
        background-color: transparent;
        background-image: -gtk-scaled(url('assets/slider.png'));
        &:hover {
            background-image: -gtk-scaled(url('assets/slider-hover.png'));
        }
        &:disabled {
            background-image: -gtk-scaled(url('assets/slider-insensitive.png'));
        }
    }

    trough {
        background-color: $bg_color;
        border: 1px solid $fg_color;
        border-radius: 0px;

    }

    highlight {
        background-color: $fg_color;
        border-radius: 0px;
        margin: 0 -4px;

        &:disabled {
            background-color: $insensitive_fg_color;
        }
    }

    fill {
        background-color: $fg_color;
        border-radius: 0px;
        margin: -4px 0px;
        &:disabled {
            background-color: $insensitive_fg_color;
        }
    }

    marks {
        color: $fg_color;
        background-color: $bg_color;
    }
}

//
// Window Decorations
//
decoration {
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: $fg_color;
    bx-shadow: none;
    
    // cursor resize area
    margin: 10px
    
    &:backdrop {
        border-color: $fg_color;
    }
    
    .tiled &,
    .tiled-top &,
    .tiled-left &,
    .tiled-right &,
    .tiled-bottom & {
        border-radius: 0;
        box-shadow: none;
        &:backdrop {
            border-color: $fg_color;
            box-shadow: none;
        }
    }

    .fullscreen &, .maximized & {
        border-radius: 0;
        box-shadow: none;
    }

    .popup & {
        border-radius: 0;
        box-shadow: none;
    }

    // server side decorations
    .ssd & {
        border-radius: 0;
        &, &.backdrop {
            border-color: $fg_color;
            background-color: $bg_color;
        }

        &.maximized, &.tiled {
            border-radius: 0;
            box-shadow: none;
        }
    }

    .csd.popup & {
        border-radius: 0;
        box-shadow: none;
    }
    
    .solid-csd & {
        border-radius: 0;
        background-color: $bg_color;
    }
}

//
// Titlebuttons
//
headerbar, .titlebar {
    &.default-decoration button.titlebutton { // no vertical padding for ssd buttons
        padding-top: 0px;                       // already handled by the titlebar-padding
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0;
    }
    border-color: $fg_color;
    border: 1px;
    border-radius: 0px;
    border-width: 1px;
    min-width: 24px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-color: $fg_color;
    background-color: $bg_color;
    background-image: none;

    button.titlebutton {
        min-width: 20px;
        min-height: 20px;
        &.close, &.minimize, &.maximize {
            &, &:hover, &:focus, &:active, &:backdrop {
                border-color: transparent;
                background-color: transparent;
                background-image: none;
                color: transparent;
            }
            min-width: 16px;
            min-height: 16px;
            margin: 0;
            padding: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px 16px;
            &:backdrop {
                opacity: 1;
            }
        }
        @each $k in ('close', 'maximize', 'minimize') {
            @each $l, $m in ('',''), (':backdrop',''), (':backdrop:hover','-hover'), (':hover','-hover'), (':active','') {
                &.#{$k}#{$l} {
                    background-image: -gtk-scaled(url('assets/window-#{$k}#{$m}.png'),
                                            url('assets/window-#{$k}#{$m}.png'));
                }
            }
        }

        .fullscreen &,
        .maximized & {
            @each $l, $m in ('',''), (':backdrop',''), (':backdrop:hover','-hover'), (':hover','-hover'), (':active','') {
                &.maximize#{$l} {
                    background-image: -gtk-scaled(url('assets/window-restore#{$m}.png'),
                                              url('assets/window-restore#{$m}.png'));
                }
            }
        }
    }
    
}
